
/*J'ai ajouter mon font css au reset styling pour l'appliquer a toute la page*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/*J'ai regrouper les icons en haut de page en un seul lieu*/

.fa-money-bill-wave{
  color: #0065fc;
  background-color:#DEEBFF;
  padding: 15px;
  margin-left: -13px;
  margin-top: -13px;
  margin-bottom: -13px;
  margin-right: 10px;
  border-radius: 100%;
}

.fa-child{
  color: #0065fc;
  background-color:#DEEBFF;
  padding: 15px;
  margin-left: -13px;
  margin-top: -13px;
  margin-bottom: -13px;
  margin-right: 10px;
  border-radius: 100%;
}

.fa-heart{
  color: #0065fc;
  background-color:#DEEBFF;
  padding: 15px;
  margin-left: -13px;
  margin-top: -13px;
  margin-bottom: -13px;
  border-radius: 100%;
  margin-right: 10px;
}

.fa-dog{
  color: #0065fc;
  background-color:#DEEBFF;
  padding: 15px;
  margin-left: -13px;
  margin-top: -13px;
  margin-bottom: -13px;
  border-radius: 100%;
  margin-right: 10px;
}

.fa-search{
  color: white;
  background-color: #0065fc;
  padding: .8rem;
  border-radius: 10px;
}

.fa-map-marker-alt{
  background-color: #f2f2f2;
  padding: .8rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.fa-info{
  color: #0065fc;
  margin-right: .8rem;
}

.fa-star{
  color: #0065fc;
}

.grey-star{
  color: #d8d8d8;
}

/*Mon code commence ici*/


header {
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . navbar button";
  display: grid;
  max-width: 100%;
  margin: auto;
}

header > a {
  grid-area: logo;
  padding: 2em 2em;
}

header nav{
  display: flex;
  grid-area: navbar;
  align-items: center;
}

header nav a{
  text-decoration-line: none;
  color:black;
}


.navbar{
  padding: 2.9em 1.97em;
  text-align: center;
}


#sinscrire{
  align-self: center;
  grid-area: button;
  color:#0065fc;
  font-weight: bolder;
  text-decoration-line: none;
}


.texte_apresmenu{
  margin-left: 1em;
  margin-top: 1.8em;
  margin-right: 1.8em;
  display: block;
  white-space: wrap;


}
.texte_apresmenu strong{
  font-size: 1.3em;
  font-weight: bold;
}

.second{
  margin-top: 1rem;
}

form{
  margin-top: 1.5em;
  margin-left: 1rem;
  max-width: 90%;
  display: flex;
}

form input{
  height: 2.2;
  width: 80%;
  padding-left: 1rem;
  color: black;
  font-weight: bolder;
  border: 1px solid #f2f2f2;
  border-right: 0px;
  border-left: 0px;
}


.filtre_all{
  margin-top: 2em;
  margin-left: 1.2rem;
}

.filtre_all p{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: .8em;
}

.filtre{
  margin-top: -.6rem;
  margin-left: -.7em;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 14px 13px;
  padding: 10px;
}

.filtre  div{
  padding: 13px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 150ms ease-in-out;
  cursor: pointer;
}

.filtre div:hover{
  border: 2px solid #0065fc;
  background-color: #DEEBFF;

}

.info {
  margin-top: 1em;
  margin-left: 1.6rem;
  flex-wrap: wrap;
  width: 90%;
  margin-bottom: 2em;
}

.main-1{
  padding-top: 1.7em;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}

.main_titre{
  margin-left: 1.6rem;
  margin-bottom: 1em;
  font-size: 1.4rem;
  font-weight: 700;
}

.main_titre i{
  float: right;
  margin-right: 1.2em;

}


.plus_populaires{
  margin-left: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  margin-right: 1.2rem;
}

.article-1{
  cursor: pointer;
  background-color: white;
  border-radius: 13px;
  padding: .3rem;
  box-shadow: 5px 10px 20px #d8d8d8;
  transition: transform 175ms  ease-in-out;
}

.article-1:hover{
  transform: scale(1.05);
}

.article-1 figure img{
  float: left;
  border-radius: 7px 0px 0px 7px;
  object-fit: cover;
}


.details{
  padding-left: 10rem;
  margin-top: .6rem;
}

.stars-1{
  margin-top: .95rem;
}

.main-2{
  padding-top: 2rem;
  width: 100%;
}

.description_marseille{
  margin-left: 1em;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 700;
}

.article-2{
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: .9em;
}


.flex-2{
  background-color: white;
  padding: .3em;
  border-radius: 1em;
  box-shadow: 5px 10px 20px #d8d8d8;
  cursor: pointer;
  transition: transform 175ms  ease-in-out;
}

.flex-2:hover{
  transform: scale(1.05);
}


.flex-2 img{
  width: 100%;
  border-radius: .8em .8em 0 0;
  object-fit: cover;
}

.details-2{
  margin-left: .6em;
  margin-bottom: .3em;
  margin-top: .5em;
}

.txt_2{
  margin-top: .4em;
}

.stars{
  margin-top: .8em;
}

.afficher_plus{
  margin-top: 1.5em;
  margin-left: 1.2em;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 1.5em;
}

section{
  padding-top: 2em;
}

.activites_marseille{
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  margin-right: 1.2em;
  gap: 1.6em;
  padding-bottom: 3em;

}

.description_activite_marseille{
  margin-left: 1.1em;
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: 900;
}

.activite_marseille{
  box-shadow: 5px 10px 20px #d8d8d8;
  width: 100%;
  border-radius: 20px;
  padding-bottom: 1.5em;
  cursor: pointer;
  transition: transform 175ms ease-in-out;
}

.activite_marseille:hover{
  transform: scale(1.05);
}

.activite_marseille p{
  margin-left: 1.5em;
  margin-top: .8em;
  font-size: 1.1em;
  font-weight: 700;
}

.activite_marseille img{
  width: 100%;
  border-radius: 20px 20px 0px 0px ;
  object-fit: cover;
}


footer{
  background-color: #f2f2f2;
  padding-bottom: 2em;
}

footer div{
  padding-top: 2.5em;
  margin-left: 1.2em;
}

footer div p{
  margin-bottom: .5em;
  font-size: 1.1em;
  font-weight: bolder;
}


footer div ul li{
  list-style-type: none;
  padding-top: .5em;
}

/*quelques parametres pour la version Desktop*/

@media all and (min-width: 1431px){


  header {
    margin: 0;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }

  header nav a{
    text-decoration-line: none;
    color:black;
  }

  header nav a:hover{
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }

  #sinscrire{
    align-self: auto;
    padding-top: 2.9em;
  }

  #sinscrire:hover{
    margin-top: ;
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }
  
  
  .texte_apresmenu{
    margin-left: 2em;
    margin-top: 1.8em;
    margin-right: 2em;
    display: block;
    white-space: wrap;
  
  
  }
  .texte_apresmenu strong{
    font-size: 1.3em;
    font-weight: bold;
  }

  form{
    margin: 1em 2em;
    max-width: 28em;
  }
  

  .search-button{
    background-color: #0065fc;
    color: white;
    padding: 1em;
    font-size: .9em;
    font-weight: 600;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
  }
  
  .fa-search{
    visibility: hidden;
  }
  
  form input{
    height: 2.2;
    width: 40%;
    padding-left: 1rem;
    color: black;
    font-weight: bolder;
    border: 1px solid #f2f2f2;
    border-right: 0px;
    border-left: 0px;
  
  }
  
  .filtre_all{
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
  }
  .filtre{
  gap: 1.4em;
  }

  .filtre_all p{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: .8em;
    margin-right: 1.5em;
  }

  .info {
    margin-top: 1em;
    margin-left: 2.5em;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 2em;
  }
  

  main{
    width: calc(100% - 4em);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
  }

  .main_titre{
    margin-left: 2rem;
    margin-bottom: 1em;
    font-size: 1.4rem;
    font-weight: 700;
  }

  .main_titre i{
    float: right;
    padding-right: .5em;
  }
  

  .main-1{
    padding-top: 2em;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

  }

  .plus_populaires{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 2em;
  }

  .article-1{
    margin-left: 1.1em;
    cursor: pointer;
    background-color: white;
    border-radius: 13px;
    width: 90%;
  }

  .article-1 figure img{
    height: 10.3em;
    float: left;
    border-radius: 7px 0px 0px 7px;
  }
  
  
  .details{
    width: 40%;
    padding-left: 10rem;
    margin-top: 1em;
  }
  
  .stars-1{
    margin-top: 4em;
  }
  
  .main-2{
    flex: 0 0 60%;
    background-color:#f2f2f2;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 20px;
  }

  .article-2{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2em;
    row-gap: 2em;
  }


  section{
    width: calc(100% - 4em);
    margin: 0 auto;
    padding-top: 2em;
  }

  .description_activite_marseille{
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 900;
  }

  .activites_marseille{
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:   
        "a1 a2 a4 a5"
        "a1 a3 a4 a6";
    gap: 2em;
    padding-bottom: 3em;
  }

  .a1{
    grid-area: a1;
  }

  .a1 img{
    height: 90%;
  }


  .a2{
    grid-area: a2;
  }a4
  .a3{
    grid-area: a3;
  }
  .a4{
    grid-area: a4;
  }

  .a4 img{
    height: 90%;
  }


  .a5{
    grid-area: a5;
  }

  .a6{
    grid-area: a6;
  }

  footer{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    padding-bottom: 2em;
  }
  
  footer div{
    width: 30%;
    padding-top: 2.5em;
    margin-left: 2em;
  }
  
  footer div p{
    margin-bottom: .5em;
    font-size: 1.1em;
    font-weight: bolder;
  }
  
  
  footer div ul li{
    list-style-type: none;
    padding-top: .5em;
  }


}

/*Version Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1430px) {

  header nav a{
    text-decoration-line: none;
    color:black;
  }

  header nav a:hover{
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }

  #sinscrire{
    align-self: auto;
    padding-top: 2.9em;
  }

  #sinscrire:hover{
    border-top: 3px solid #0065fc;
    color: #0065fc;
  }
  

  .fa-search{
    visibility: hidden;
  }

  form button{
    background-color: #0065fc;
    color: white;
    padding: 1em;
    font-size: .9em;
    font-weight: 600;
    border-style: none;
    border-radius: 0px 10px 10px 0px;
  }


  main{
    width: calc(100% - 4em);
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 3em;
  }
  .main-2{
    flex: 0 0 65%;
    background-color: #f2f2f2;
    border-radius: 15px;
  }

  .article-2{
    width: calc(100% - 2em);
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 2em;
    grid-column-gap: 2em;
  }

  .main-1{
    border-radius: 15px;
  }

  .plus_populaires{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 2em;
  }

  .article-1{
    width: calc(100% - 2em);
    margin: 0 auto;
  }


  .plus_populaires img{
    height: 10em;
  }

  .details{
    margin-top: 1.3em;
    font-size: clamp(.55em, .77em, 2em);
    padding: auto;
  }

  
  section{
    width: calc(100% - 4em);
    margin: 0 auto;
    padding-top: 2em;
  }

  .description_activite_marseille{
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: 900;
  }

  .activites_marseille{
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:   
        "a1 a2 a4 a5"
        "a1 a3 a4 a6";
    gap: 2em;
    padding-bottom: 3em;
  }

  .a1{
    grid-area: a1;
  }

  .a1 img{
    height: 90%;
  }


  .a2{
    grid-area: a2;
  }a4
  .a3{
    grid-area: a3;
  }
  .a4{
    grid-area: a4;
  }

  .a4 img{
    height: 90%;
  }


  .a5{
    grid-area: a5;
  }

  .a6{
    grid-area: a6;
  }
  

}

/*quelques parametres pour la version tablette*/

@media screen and (min-width: 481px) and (max-width: 1023px){
  form button{
    display: none;
  }

  header nav a {
    color: #0065fc;
  }
  
}

/*quelques parametres pour la version mobile*/

@media all and (max-device-width: 480px){
  header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
        "logo . button"
        "navbar  navbar navbar";
  }
  
  header > a {
    grid-area: logo;
    padding: 2em 2em;
  }
  
   
  header nav{
  display: flex;
  grid-area: navbar;
  align-items: center;
  }

header nav a{
  width: 50%;
  text-decoration-line: none;
  color:black;
  font-size: 1.13em;
}

header nav a:hover{
  border-bottom: 3.7px solid #0065fc;
  color: #0065fc;
}

.navbar{
  padding: .5em;
  text-align: center;
}


#sinscrire{
  align-self: center;
  grid-area: button;
  color:#0065fc;
  font-weight: bolder;
  text-decoration-line: none;
  }

  form button{
    display: none;
  }
}